.get-blog-container {
  margin-top: 10rem;
  position: relative;
}
.table {
  width: 100%;
  padding: 5px;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.1rem;

    thead {
      border-top: 2px solid #ccc;
      border-bottom: 2px solid #ccc;
    }

    th {
      border: 1px solid #ccc;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;

      &.icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        > * {
          margin-right: 7px;
          cursor: pointer;
          vertical-align: middle;
          align-self: center;
        }
      }
    }

    tr {
      border-bottom: 1px solid #ccc;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }
    .blog-publish-btn {
      cursor: pointer;
      background-color: transparent;
    }
    .posted {
        color: green
    }
    .cancel {
        color: orangered;
    }
  }
}
.publish-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5rem;

  .change-publish-card {
    padding: 1rem;

   
    select {
        width: 100%;
        padding: 0.5rem;
        margin: 1rem 0;
        outline: none;
        font-size: 1.1rem;
    }
    .blog-publish-spinner {
        width: 8px;
        height: 8px;
    }
  }
}



@media (max-width: 640px) {
  .get-blog-container {
    height: 117vh;
    // margin-top: 10rem !important;
  }
}
