.retrun-container {
    margin: 9rem 0rem 15rem 0rem;
    padding: 0 4rem;
}

.return-parag {
    margin-bottom: 1rem;
}

.return-bullet {
    padding-left: 2rem;
    li {
        margin-bottom: 1rem;
    }
}

.return-h3 {
    margin-top: 2rem;
    font-weight: 600;
}