.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.mainContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: #55220b;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    span {
      font-size: 1.2rem;
    }
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    .getQuote {
      width: 200px;
      font-size: 1.3rem;
      padding: 10px 8px;
      border-radius: 3px;
      cursor: pointer;
      outline: none;
      border: 1px solid #ffa047;
      transition: all 0.3s;
    }
    .getQuote:hover {
      background-color: #ffa047d3;
      color: #ffffff;
      // transform: translateY(-10px);
    }
    .getInTouch {
      width: 200px;
      font-size: 1.3rem;
      padding: 10px 15px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      background-color: #ffa047;
      color: #ffffff;
      transition: all 0.3s;
    }
    .getInTouch:hover {
      background-color: #ffffff;
      color: #000;
      border: 1px solid #ffa047;
      transform: translateY(-2px);
    }
  }
}

@media (max-width: 1111px) {
  .textWrapper {
    h1 {
      font-size: 3rem !important;
    }
  }
}

@media (min-width: 400px) and (max-width: 875px) {
  .textWrapper {
    h1 {
      font-size: 2.8rem !important;
      font-weight: 400 !important;
      text-align: center;
    }
    p {
      span {
        font-size: 1.1rem !important;
      }
    }
    .btnContainer {
      flex-direction: column !important;
      gap: 1rem !important;
    }
  }
}

@media (max-width: 400px) {
  .textWrapper {
    h1 {
      font-size: 2.2rem !important;
      font-weight: 400 !important;
      text-align: center;
    }
    p {
      display: flex;
      justify-content: center;
      span {
        font-size: 0.87rem !important;
        text-align: center !important;
      }
    }
    .btnContainer {
      flex-direction: column !important;
      gap: 1rem !important;
    }
  }
}
