.carouselItem {
  // box-shadow: var(--box-shadow);
  width: 22rem;
  height: 29rem;
  background-color: #f0e3ca;
  border-radius: 10px;
  border: 1px solid #ff884f;
  overflow: hidden;
  @media (min-width: 350px) and (max-width: 400px) {
    width: 20rem;
    margin-right: 5px;
    margin: auto 3.8rem;
  }
  @media (max-width: 350px) {
    margin: auto 1rem !important;
  }

  .carouselItem-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem; 
  }
}

.item-class {
  margin-right: 10rem;
  @media (max-width: 400px) {
    margin-right: 0;
  }
}
.product--image {
  width: 30px;
  border: 1px solid #ff884f;
  border-radius: 50%;
}

.review-content-wrapper {
  padding: 1rem;
}
.review-text {
  font-size: 0.9rem;
}
.review-content {
  height: 130px;
}


.left {
  margin-left: auto;
  margin-right: 0;
  display: block;
}