.policy-section {
    margin-top: 8rem;

    .policy-container {
        padding: 1rem 3rem;

        p {
            padding: 1rem;
        }

        ul {
            padding-left: 3rem;
        }
    }
}