@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*  'Montserrat', sans-serif */
:root {
  --font-family:"Poppins", sans-serif;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --color-text: #ffa047;
  --color-bg: #ffa047d3;
  
}


body {
  font-family: var(--font-family);
}

html {
  font-size: 13px !important;
  text-align: justify;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.adminOnlyContainer {
  max-width: 1000px;

  margin: 10rem auto;
  padding: 0 20px;
}

.not-found-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: 500;
}
.img_404 {
  height: 200px;
}
section {
  width: 100%;
   /* height: 100vh; */
  scroll-snap-align: center;
}
@media (max-width: 1024px) {

}

.active {
  width: 75px;
  height: 30px;
  position: relative;
  border-bottom: 2px solid #086300;
  border-left: 2px solid #d62710;
  border-bottom-left-radius: 5px;
  padding: 0.3rem;
  z-index: 1;
  cursor: pointer;
}

/* Utility */
.--custom-textDisplay {
 width: 100%;
  text-align: center;
}
.--mx-4 {
  margin-left: 4rem;
}
.--my-1 {
  margin-top: 1rem;
}
.--btn-sm-bl {
  width: 30%;
}
.--btn-lg {
  padding: 8px 10px;
}
.--btn-block {
  width: 100%;
}
.--btn-primary {
  color: #fff;
  background-color: #d62710;
}
.--btn-secondary {
  color: #d62710;
  border: 1px solid #d62710;
  background: transparent;
}
.--btn-google {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid #0057e7;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #0057e7;
  transition: all 0.3s;
}
.--btn-google:hover {
  transform: translateY(-2px);
  background-color: #0059e750;
}
.--btn {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.--btn:hover {
  transform: translateY(-2px);
}

/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

.--pr-2 {
  padding-right: 2rem;
}

@media (min-width: 315px) and (max-width: 450px) {
  .--center-text-r {
    text-align: center;
  }
}

@media (max-width: 925px) {
  .--parag {
    font-size: 1rem !important;
  }
}

/* about page */
.shape {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 168, 7, 0.082);
  border-radius: 50%;
  animation: rotate ease 10s infinite alternate-reverse;
  overflow: hidden;
}
@keyframes rotate {
  0% {transform: translateX(-1rem)}
  25% {transform: translateY(-1rem)}
  50% {transform: translateX(1rem)}
  75% {transform: translateY(1rem)}
  100% {transform: translateX(1rem)}
}

@media (max-width: 800px) {
  .active {
    width: 84px !important;
    border-bottom: transparent;
    border-bottom-left-radius: 0;
  }
}

/* Share Icon */
.social-icons {
  display: flex;
  padding: 0 0 0.3rem 1rem;
  align-items: center;

  p {
    font-family: 300;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
  }
  span {
    border: 1px solid #ffa047;
    display: flex;
    padding: 0.3rem;
    align-items: center;
    border-radius: 0.5rem;
  }
}


